<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>API 📚 JSON PLACEHOLDER - POSTS 📚</title>
  </head>

  <body>
    <style>
      * { font-family: 'Roboto Mono', monospace; } .container { display: flex;
      justify-content: center; align-items: center; width: 100%; } .col { width:
      40%; text-align: center; } .title { color: #202466; font-weight: bold; }
      .title span { font-weight: 300; } li { background: #eaeaea; margin-bottom:
      20px; padding: 10px; border-radius: 10px; list-style:circle; }
      li a {
        text-decoration: none;
        color: #202466;
        text-align: left;
      }
    </style>
    <div class="container">
      <div class="col">
        <h1 class="text title">Welcome to my API from
          <br /><span>JSON PLACEHOLDER 📚</span>
        </h1>
        <p>Endpoint lists: </p>
        <ul class="list">
          <li><a href="http://localhost:4000/api/posts/" target="_blank"><b>Get </b>
              All Posts
              <br />
              http://localhost:4000/api/posts/</a></li>
          <li><a><b>Get</b>
              Posts by Identified
              <br />
              http://localhost:4000/api/posts/:id"</a></li>
          <li><a><b>Create</b>
              Posts
              <br />
              http://localhost:4000/api/posts</a></li>
          <li><a><b>Update</b>
              Posts
              <br />http://localhost:4000/api/posts/:id"</a></li>
          <li><a><b>Delete</b>
              Posts
              <br />http://localhost:4000/api/posts/:id"</a></li>
        </ul>
      </div>
    </div>
  </body>

</html>